.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: url('https://img.freepik.com/free-vector/mosaic-patterned-background_53876-91674.jpg?t=st=1722448558~exp=1722452158~hmac=988a523608e45cc3baed200b1a2048907ce736e0eb904951105a5763ef2d64f3&w=900');
  margin-top: 100px;
}

.login-container input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 88%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

